    <footer class="footer" id="contact">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5><u>Links</u></h5>
                    <ul class="list-unstyled white">
                        <li><a class="white" href="#"><i class="fa fa-lg fa-home"></i> Home</a></li>
                        <li><a class="white" href="#"><i class="fa fa-lg fa-info"></i> About</a></li> 
                        <li><a class="white" href="#"><i class="fa fa-lg fa-address-card"></i> Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5><u>My Address</u></h5>
                    <address>
		              room no. 6-2-16, 6th block<br>
		              NIT hostels, NIT Warangal<br>
		              Telangana state, India<br>
		              Pin: 506004<br>
		              Tel.: +91 75050 54719<br>
		              Email: <a class="white" href="mailto:sk921815@student.nitw.ac.in">sk921815@student.nitw.ac.in</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <div class="text-center">
                        <a class="btn btn-social-icon btn-instagram white" href="http://instagram.com/+"><i class="fa fa-lg fa-instagram"></i></a>
                        <a class="btn btn-social-icon btn-facebook white" href="http://www.facebook.com/profile.php?id="><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin white" href="http://www.linkedin.com/in/sandeepkumar318/"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter white" href="http://twitter.com/"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google white" href="http://youtube.com/"><i class="fa fa-lg fa-youtube"></i></a>
                        
                    </div>

                    	<i class="fa fa-phone fa-lg"></i>: +91 75050 54719<br>
                      <i class="fa fa-envelope fa-lg"></i>: 
                      <a href="mailto:sk921815@student.nitw.ac.in" class="white">sk921815@student.nitw.ac.in</a>

                    </div>
                </div>
           </div>
           <div class="row justify-content-center">              
                <div class="col-auto">
                    <p>© Copyright 2020, Sandeep Kumar</p>
                </div>
           </div>
        </div>
    </footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>