<%- include('./partials/header') -%>

<div class="jumbotron">
			<div class="container">
				<h1 class="display-4">Hello, there!</h1>
				  <p class="lead">Welcome To My Personal Portfolio.</p>
				  <hr class="my-4">
				  <p>Do Check My Recent Projects By Clicking Here.</p>
				  <a class="btn btn-primary btn-lg" href="/projects" role="button">Projects...</a>		
			</div>
		  
		</div>

<%- include('./partials/footer') -%>