<%- include('./partials/header') -%>

        <!--<div class="container">-->
        <!--    <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23B39DDB&amp;ctz=Asia%2FKolkata&amp;src=c2FuZGVlcDMxOGt1bWFyQGdtYWlsLmNvbQ&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043&amp;showCalendars=1&amp;mode=AGENDA" style="border:solid 1px #777; margin: 15px auto;" width="100%" height="400" frameborder="0" scrolling="no"></iframe>    -->
        <!--</div>-->
    

        <div class="container">
            <h2>Here are my some projects.</h2>
            <h4>Table of contents...</h4>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 mb-1">
                    <a class="btn btn-primary" href="#Websites">Websites</a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 mb-1">
                    <a class="btn btn-primary" href="#Quizz">Quizz for children</a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 mb-1">
                    <a class="btn btn-primary" href="#Blogs">Blog Posts</a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 mb-1">
                    <a class="btn btn-primary" href="#Linkedin">Best Linkedin Posts</a>
                </div>

            </div>
        </div>


        <div class="container">
            <div class="row row-content">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <h2 class="title" id="Websites">Websites</h2>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid"
                                src="https://i.imgur.com/8K4tkYu.png" alt="yelpcamp">
                            <div class="carousel-caption">
                                <h2>YelpCamp <span class="badge badge-success">HOT</span></h2>
                                <p>A fully functional website for campgrounds.</p>
                                <a class="btn btn-primary" target="_blank" href="https://thawing-mountain-73104.herokuapp.com/">Click Here!</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                src="https://i.imgur.com/C40XbMo.png" alt="RGBColor">
                            <div class="carousel-caption">
                                <h2>The Great RGB Color Game <span class="badge badge-danger">NEW</span></h2>
                                <p>A great appication to visit to master your concepts on color mixing</p>
                                <a class="btn btn-primary" target="_blank" href="https://cryptic-beach-40500.herokuapp.com/">Click Here!</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                src="https://i.imgur.com/mpTSbwG.png" alt="ToDolist">
                            <div class="carousel-caption">
                                <h2 class="mt-0">To Do List <span class="badge badge-success">HOT</span></h2>
                                <p>A great appicatioon to keep all TODOs at one place</p>
                                <a class="btn btn-primary" target="_blank" href="https://stormy-brook-93009.herokuapp.com/">Click Here!</a>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>

    
        <div class="container mb-1">
            <div class="row row-content">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <h2 class="title" id="Blogs">Blog Posts</h2>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid"
                                src="https://i.imgur.com/8T9mnQ0.png" alt="bePositive">
                            <div class="carousel-caption d-none d-md-block">
                                <h2 class="black">Be Positive <span class="badge badge-success">YES</span></h2>
                                <p class="black d-none d-sm-block">An amazing blog on a beautiful story to convey thhe message of positivity</p>
                                <a class="btn btn-primary" target="_blank" href="https://changeyourperceptionforthings.blogspot.com/2020/04/be-positive.html">Know More!</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                src="https://i.imgur.com/9AMBZJL.png" alt="success">
                            <div class="carousel-caption d-none d-md-block">
                                <h2 class="black">Road to sucess <span class="badge badge-danger">NEW</span></h2>
                                <p class=" black d-md-block d-sm-none">An inspiring story of a great man shared with a beautiful message. Do read</p>
                                <a class="btn btn-primary" target="_blank" href="https://changeyourperceptionforthings.blogspot.com/2020/04/road-to-success.html">Know More!</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                src="https://i.imgur.com/QhfIfCb.png" alt="Girls">
                            <div class="carousel-caption d-none d-md-block">
                                <h2 class="black mt-0">Girls and Lockdown <span class="badge badge-success">HOT</span></h2>
                                <p class="black">A harsh truth about our society is shared, and in this lockdown we have many sins to ourloved ones. Right?</p>
                                <a class="btn btn-primary" target="_blank" href="https://changeyourperceptionforthings.blogspot.com/2020/06/girls-and-lockdown-harsh-reality-of.html">Know More!</a>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>  
        
<%- include('./partials/footer') -%>        